body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
span {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 10px;
}
.half-width img {
  width: 80%;
  padding-left: 10px;
}
.link-button {
  color: white;
  background-image: linear-gradient(orange,tomato);
  border: 3px solid red;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}
